woven_code
output_code
output_stats
__pycache__
temp
outputs
.vscode
consumer_order.txt
enum_integer_type.txt
is_temporary.txt
omp.txt
types_with_templates.txt
*.zip
output_combined*
combined_output*
a.out
!tools/data_aggregator/outputs